body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', serif;
}

.nav {
  background-color: #ffffff;
  color: #000000;
  list-style: none;
  text-align: right;
  padding: 20px 0 20px 0;
}
.nav > li {
  display: inline-block;
  padding: 0 25px 0 25px;
}

.nav > li > a {
  text-decoration: none;
  color: #000000;
}

.nav > li > ahover {
  color: #ffffff;
}

.logo {
  color: #000000;
  float: left;
  padding-left: 20px;
  font-weight: bold;
}

h1 {
  color: rgb(25, 0, 255);
  text-align: center;
  font-size: 30px;
}

.logo > a {
  text-decoration: none;
  color: #000000;
}

.banner {
  width: 100%;
  display: block;
}

.banner > .banner-image {
  width: 100%;
  display: block;

}

h2 {
  font-size: 50px;
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
}

h2 span { 
  color: white; 
  font: bold 60px/80px Helvetica, Sans-Serif; 
  letter-spacing: 5px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}

.example {
  background-color: #f1f1f1;
  padding: 0.01em 16px;
  margin: 10px 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  text-align:justify;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

